﻿@{
    ViewBag.Title = "หนังสือคอมพิวเตอร์เพื่อพัฒนาทักษะการเขียนโปรแกรม";
    Layout = "~/Views/Shared/_ExtJsLayout.cshtml";
    var absoluteUrl = "http://codesanook.com/book";
}
@section script{
    <script src="/BookContent/BookData.js" type="text/javascript"></script>
    <script type="text/javascript">
        Ext.onReady(function () {//begin Ext.onReady


            var fields = [
                'Title',
                'Cover',
                'Description',
                'Price',
                'Status'
                ];


            //store for rate
            var store = new Ext.data.JsonStore({
                fields: fields,
                autoLoad: false,
                data: bookData
            });


            //render user column
            var coverRender = function (value) {
                var html = '<img src="' + value + '"  style="height:250px;margin:5px"/>';

                return html;
            };

            var columnModel = new Ext.grid.ColumnModel({
                defaults: {
                    width: 120,
                    sortable: true
                },
                columns: [
                            { header: 'Title', width: 400, sortable: true, dataIndex: 'Title' },
                            { id: 'cover', header: 'Cover', sortable: false, dataIndex: 'Cover', renderer: coverRender
                            },
                            { header: 'Description', width: 300, dataIndex: 'Description', sortable: false },
                            { header: 'Price', width: 100, dataIndex: 'Price' },
                            { header: 'Status', width: 100, dataIndex: 'Status' }
                       ]
            });

            var grid = new Ext.grid.GridPanel({
                title: 'Books',
                store: store,
                colModel: columnModel,
                autoExpandColumn: 'cover',
                loadMask: true,
                renderTo: 'viewPort',
                autoHeight: true,
                tbar: [
                        new Ext.Button({
                            text: '< back to home',
                            handler: function (b, e) {
                                console.log(e);
                                location.href = '/';
                            }
                        })
                      ]
            });

        });     //end Ext.onReady

    </script>
}
<p style="margin:10px">
    หนังสือที่นำมาแนะนำเป็นหนังสือที่ผมได้อ่านและเป็นประโยชน์ต่อการพัฒนาทักษะด้านการเขียนโปรแกรม
    ทุกเล่มราคาเดียว 400 บาท ฟรีค่าจัดส่ง สนใจ email มาที่ theeranmitp@gmail.com
</p>
<div id="viewPort">
</div>
