﻿สวัสดีค่ะ คุณ ##userName##
<br /><br />
ท่านได้สมัครสมาชิกกับ <a href="http://www.ไทยลีก.com">ไทยลีก.com</a> เรียบร้อยแล้ว
แต่ก่อนที่ท่านจะสามารถใช้งานได้จะต้องทำการอนุมัติอีเมล์ที่ท่านใช้ในการสมัครเสียก่อน 
ในการอนุมัติอีเมล์ของท่าน กรุณาคลิกลิงค์ที่อยู่ด้านล่างนี้ค่ะ :
<br /><br />

<a href="http://www.thaileaguefc.com/user/activate/##key##">คลิกที่นี่เพื่อทำการ Activate</a>

<br /><br />
หากท่านพบปัญหาในการเข้าสู่ระบบสมาชิก กรุณาติดต่อทีมงาน <a href="http://www.ไทยลีก.com">ไทยลีก.com</a> ที่<br />
<strong>Email :</strong> admin@thaileaguefc.com<br />
<strong>โทรศัพท์ :</strong> 089-668-6365 (คุณธีรานิตย์), 086-897-9497 (คุณศรัณยู), 02-211-8582, 02-211-8018
<br /><br /><b/>
ขอบคุณค่ะ<br />
ทีมงาน <a href="http://www.ไทยลีก.com">ไทยลีก.com</a>

