﻿<span>สวัสดีค่ะ คุณ <strong style="color: #00F;">##postOwner##</strong></span><br />
<br />
<span>คุณ <strong style="color: #060;">##replyOwner## </strong>ได้แสดงความเห็นบนกระทู้
    "##title##" ของท่าน</span><br />
<br />
<span>ท่านสามารถกลับไปดูกระทู้และตอบความเห็นของคุณ 
<strong style="color: #060;">##replyOwner##</strong>
    ได้โดยคลิกตามลิงค์ด้านล่างนี้ค่ะ </span>
<br />


<a href="##link##">คลิกที่นี่เพื่อไปยังกระทู้</a><br />
<br />
ขอบคุณค่ะ<br />
ทีมงาน <a href="http://www.ไทยลีก.com">ไทยลีก.com</a><br />
