﻿สวัสดีค่ะ คุณ ##userName##
<br /><br />
ทีมงาน <a href="http://www.ไทยลีก.com">ไทยลีก.com</a> ขอแจ้งรหัสผ่านใหม่ดังนี้ค่ะ<br /><br />

<span style="color:#f00"><strong>Username :</strong> ##userName##<br />
<strong>Password : </strong>##newPassword##<br /><br />
ท่านสามารถเปลี่ยนรหัสผ่านใหม่เพื่อ ง่ายต่อการจดจำของท่านได้ในหน้าสมาชิก หรือคลิกที่ลิงค์ข้างล่างนี้เพื่อทำ การเปลี่ยนรหัสได้ทันที</span><br /><br />
<a href="http://www.thaileaguefc.com/user/changepassword">คลิกที่นี่เพื่อทำการล็อกอิน และเปลี่ยนรหัสผ่าน</a><br /><br />
หากท่านพบปัญหาในการเข้าสู่ระบบสมาชิก กรุณาติดต่อทีมงาน <a href="http://www.ไทยลีก.com">ไทยลีก.com</a> ที่<br />
<strong>Email :</strong> admin@thaileaguefc.com<br /><br />
<strong>โทรศัพท์ :</strong> 089-668-6365 (คุณธีรานิตย์), 086-897-9497 (คุณศรัณยู), 02-211-8582, 02-211-8018
<br /><br /><br />
ขอบคุณค่ะ<br />
ทีมงาน <a href="http://www.ไทยลีก.com">ไทยลีก.com</a>
