﻿@model CodeSanook.MicroBlog.Web.Mvc.ViewModels.ContactUs
@using (Html.BeginForm())
{
   
    <div>
     @Html.ValidationSummary(false)
    </div>
    <fieldset>
        <legend>ติดต่อเรา</legend>
        <table>
            <tr>
                <td>
                    <span class="required">*</span>
                    @Html.LabelFor(model => model.UserName)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName, "*")
                </td>
            </tr>
            <tr>
                <td>
                    <span class="required">*</span>
                    @Html.LabelFor(model => model.Email)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "*")
                </td>
            </tr>
            <tr>
                <td>
                    <span class="required">*</span>
                    @Html.LabelFor(model => model.Title)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "*")
                </td>
            </tr>
            <tr>
                <td>
                    <span class="required">*</span>
                    @Html.LabelFor(model => model.Details)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Details)
                    @Html.ValidationMessageFor(model => model.Details, "*")
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img id="captcha" src="@Url.Action("RenderCaptcha")" alt="" style="margin-left:136px" />
                    <img alt="" title="เปลี่ยนรูป" id="refreshButton" src="/content/images/article/refresh-button.png" />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="required">*</span>
                    @Html.LabelFor(model => model.CaptchaCode)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CaptchaCode)
                    พิมพ์เล็กหรือพิมพ์ใหญ่ก็ได้
                    @Html.ValidationMessageFor(model => model.CaptchaCode, "*")
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="ส่ง" />
        </p>
    </fieldset>
}
<script type="text/javascript">

    var refreshCaptcha = function () {
        $("#captcha").attr({ src: '/about/rendercaptcha?timespan=' +
                 (new Date()).valueOf()
        });
    }

    //refresh captcha
    $("#refreshButton").click(refreshCaptcha);
    
</script>
