﻿        <br />
         <br />
         <audio controls="controls"
         @if ((bool)Session["isUserVisit"])
         {
             <text>autoplay = "autoplay"</text>
         }
         >
           <source src="/file/getfile?relativePath=/Content/Musics/joy-to-the-world.mp3" type="audio/mpeg" />          
           <source src="/file/getfile?relativePath=/Content/Musics/joy-to-the-world.ogg" type="audio/ogg" />
             Your browser does not support the audio element.
         </audio>