﻿<link href="/Scripts/cluetip/jquery.cluetip.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/cluetip/jquery.hoverIntent.js" type="text/javascript"></script>
<script src="/Scripts/cluetip/jquery.cluetip.js" type="text/javascript"></script>

  <p>
  <h6>
  Friends
  </h6>
    <a class="friendLink" href="http://jirawat.in.th" title="jirawat.in.th|จิรวัฒน์ กรัณย์วิทยาการ|ประวัติของตี๋|ผลงาน บทความงานเขียน|รางวัล ประสบการณ์"
    target="_blank">jirawat.in.th </a>
    
    <a class="friendLink" href="http://www.clipdonjai.com"
        title="clipdonjai.com|Clipdonjai คลิปดลใจ|แหล่งรวมคลิปสร้างสรรค์เพื่อแรงบรรดาลใจ"
        target="_blank">clipdonjai.com </a>
        
        <a class="friendLink" href="http://www.janawat.wordpress.com"
            title="janawat.wordpress.com|janawat.wordpress.com MVP Blog|ความรู้ ประสบการณ์สำหรับผู้สนใจ...|และโปรแกรมเมอร์น้องใหม่ทุกๆ คน..."
            target="_blank">janawat.wordpress.com </a>

            <a class="friendLink" href="http://csharp89.blogspot.com"
            title="csharp89.blogspot.com|C sharp Tutorial Programming Language and Source Code"
            target="_blank">csharp89.blogspot.com</a>

              

           <a class="friendLink" href="http://108blog.net"
            title="108blog.net|ร้อยแปดสาระไอทีเพื่อคนไทย อ่านง่ายๆ สั้นๆ"
            target="_blank">108blog.net</a>
</p>
<script type="text/javascript">

    $('.friendLink').cluetip({
        splitTitle: '|',
        showTitle: true,
        dropShadow: false

    });
</script>
