﻿@model IEnumerable<IGrouping<string, CodeSanookWebEngine.Models.TagViewModel>>

@*@model dynamic
*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    All Tags</h2>
    <ul>
        @foreach (var group in Model)
        {
        <li>
        <h4>
       @group.Key
        </h4>
            <ul>@foreach(var t in group)
                {
               
                     <li>
                   @t.Name (@t.TotalArticleInTag)
                    </li>
                }
            </ul>
               
          </li>   
         }
       </ul>