#binary-clock {
		margin: 5px 0 10px 0;
		border: 1px solid #999999;
		padding: 8px;
		width: 108px;
		height: 88px;
	}

	.count-block {
		margin: 0 auto;
		margin-top: 8px;
		border: 1px solid #999999;
		background: #F3F3F3;
		width:12px;
		height:12px;
	}

	.count-block-active {
		margin: 0 auto;
		margin-top: 8px;
		border: 1px solid #999999;
		width:12px;
		height:12px;
		background: #59ffed;
		text-align: center;
		color: #666666;
	}

	.hour_column {
		margin: 0 auto;
		padding: 2px;
		padding-top: 24px;
		height: 90%;
		vertical-align: bottom;

	}

	.column {
		margin: 0 auto;
		padding: 2px;
		height: 90%;
		vertical-align: bottom;
	}

	.alignleft {
		margin-top: 22px;
		float: left;
	}

	.alignright {
		float: left;
	}