﻿body
{
    /* Font */
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px; /* Text color */
    color: #222; /* Remove the background color to make it transparent */
    background-color: #fff;
}

ol, ul, dl
{
    /* IE7: reset rtl list margin. (#7334) */
    margin-right: 0px; /* preserved spaces for rtl list item bullets. (#6249)*/
    padding-right: 40px;
}

pre
{
    background-color: #fff;
    color: blue;
    padding: 5px;
    border: 1px dashed blue;
}