﻿@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var absoluteUrl = Request.Url.AbsoluteUri;
}
@using CodeSanook.Utility
@model IList<CodeSanook.MicroBlog.Model.Article>
@section FacebookMeta
{
    <meta property="og:title" content="@ViewBag.Title"/>
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="@absoluteUrl"/>
    <meta property="og:image" content="http://codesanook.com/Content/images/codesanook-logo.gif" />
    <meta property="og:site_name" content="codesanook.com - สนุกไปกับการเขียนโค้ด ASP.NET MVC, C#, MonoTouch, Entity Framework, Unit Test, Facebook Development" />
}
@section CssContent
{
    <link href="/Content/article.css" rel="stylesheet" type="text/css" />
}
@section TagWidget
{
    @Html.Action("RenderTagWidget", "Article")
}
<h1>
    Hello World 2</h1>
<ul id="articleContainer">
    @foreach (var item in Model)
    {
        <li class="articleList"><a href="/article/details/@item.Alias" >
            <div class="previewImage">
                <img  src="@item.PreviewImageUrl" />
            </div>
        </a>
            <div class="articleSummaryContainer">
                <h2>@Html.ActionLink(item.Title, "details", new { alias = item.Alias })</h2>
                <p class="articleAbstract">
                    @item.Abstract
                    @Html.ActionLink(
                    "อ่านต่อ",
                    "details",
                    "article",
                    new { articleId = item.Id, alias = item.Alias },
                    new { @class = "orange" })
                </p>
            </div>
            <div class="articleFooter">
                <strong>
                    <img src="@Url.Content("~/Content/images/clock-icon.png")" />
                    เมื่อ :</strong> @item.UtcReleaseDate.ToString("d-MMM-yy H:ss")
                <strong>
                    <img src="@Url.Content("~/Content/images/read-icon.png")" />
                    อ่าน :</strong> @item.Hits ครั้ง
                <br />
                <strong>
                    <img src="@Url.Content("~/Content/images/tag-icon.png")" />
                    Tag :</strong> @*@(string.Join(" ", item.Tags.Select(t => t.Name).ToArray()))*@
            </div>
        </li>
          
    }
</ul>
@Html.Raw(Html.Pagination(ViewBag.Pagination as PaginationModel))
