﻿@using CodeSanook.Helpers;
@model IList<CodeSanook.MicroBlog.Model.Article>
@{
    ViewBag.Title = "บทความทั้งหมด";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section JsContent
{
<script type="text/javascript">
    $(document).ready(function () {
        $('.deleteArticle').click(function () {
            var confirmDelete = confirm('แน่ใจว่าต้องการลบเนื้อหานี้?');
            if (confirmDelete == true) {
                return true;
            } else {
                return false;
            }
        });
    });
   </script>
}
<h2>
    @ViewBag.Title</h2>
<table class="tableList">
    <tr>
    <th>
    </th>

        <th>
            ID
        </th>
        <th>
            หัวข้อ
        </th>
        <th>
            สร้างโดย
        </th>
        <th>
            สร้างเมื่อ
        </th>
        <th>
            ปรับปรุงล่าสุด
        </th>
        <th>
            วันเผยแพร่
        </th>
        <th>
            จำนวนเข้าชม
        </th>
      
    </tr>
   @foreach (var item in Model)
     {
    
        <tr>
            <td>
                <input type="checkbox" 
            value="" @(item.IsPublish ? "checked='checked'" : "")
            onclick="window.location='/article/publish/@item.Id'" />
                เผยแพร่ |
                @Html.ActionLink("แก้ไข", "edit", new { id = item.Id }) |
                @Html.ActionLink("รายละเอียด", "details", new { id = item.Id, area = "" }) |
                @Html.ActionLink("ลบ", "delete", new { id = item.Id }, new { @class = "deleteArticle" })
            </td>
            <td>
                @item.Id
            </td>
            <td>
                @item.Title
            </td>
            <td>
                user
            </td>
            <td>
                @string.Format("{0:d MMM yyyy}", item.CreationDate)
            </td>
            <td>
                @string.Format("{0:d MMM yyyy}", item.LastUpdate)
            </td>
            <td>
                @string.Format("{0:d MMM yyyy}", item.UtcReleaseDate)
            </td>
            <td>
                @item.Hits
            </td>
           
        </tr>
    
     }
</table>

 @Html.Raw(Html.Pagination(ViewBag.Pagination as PaginationModel))